.engage-suggestion
{
    position: fixed;
    bottom: 10px;
    right: 10px;
    width: 200px;
    display: none;
}
.engage-suggestion .items
{
    margin-top: 5px;
}
.engage-suggestion .image
{
    width: 70px;
    margin: 0 10px 10px 10px;
    float: left;
    display: inline-block;
}
